<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1><%= @event.name %> is interested in Waiters for Later</h1>
    <p>Get in touch with <%= @event.name %> to find out if they might be a good fit for Waiter for Later.</p>
      <p>Contact:</p>
      <ul>
        <li>Event date: <%= @event.event_date %></li>
        <li>City: <%= @event.city %></li>
        <li>Phone number: <%= @event.phone %></li>
        <li>Email: <%= @event.email %></li>
    </p>
  </body>
</html>