<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1><%= @waiter.name %> is interested in Waiters for Later</h1>
    <p>Get in touch with <%= @waiter.name %> to find out if they might be a good fit for Waiter for Later.</p>
      <p>Contact:</p>
      <ul>
        <li><%= @waiter.city %></li>
        <li><%= @waiter.phone %></li>
        <li><%= @waiter.email %></li>
    </p>
  </body>
</html>