<%= simple_form_for @inquiry, 
  wrapper_mappings: {
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean } do |f| %>
    <%= f.input :role, as: :radio_buttons, collection: ["Hire", "Work"], label: false %>
    <div style="display: none;" data-show-for="both">
      <%= f.input :city %>
      <%= f.input :name %>
      <%= f.input :email, as: :email %>
      <%= f.input :phone, as: :tel %>
    </div>
    <div style="display: none;" data-show-for="Hire">
      <%= f.input :date, as: :date, :order => [:month, :day, :year], :include_blank => true %>
    </div>
    <div style="display: none;" data-show-for="Work">
      <%= f.input :license, as: :radio_buttons, collection: ["Yes", "No"] %>
    </div>
    <div style="display: none;" data-show-for="both">
      <%= f.button :submit, 'Get in touch', class: 'btn btn-default' %>
    </div>
<% end %>
